
	<div style="padding:10px 0px;">
		<input class="form-control">
	</div>

	<div class="rows">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a>DIY Diamond Painting. Bunga Peony dan keluarga harmonis. (100x50 cm) D17</a>
				</div>

				<div class="panel-body">
					<div class="rows">
						<div class="col-xs-6 ">
							<img src="images/defaultreward.png" class="img-responsive img-thumbnail" >
						</div>
						<div class="col-xs-6 ">
							
									Stok :
									<input class="form-control" type="text">
								
									Harga :
									<input class="form-control" type="text">
								
									Diskon :
									<input class="form-control" type="text">
								
						</div>
					</div>
				</div>			
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a>DIY Diamond Painting. Bunga </a>
				</div>

				<div class="panel-body">
					<div class="rows">
						<div class="col-xs-6 ">
							<img src="images/defaultreward.png" class="img-responsive img-thumbnail" >
						</div>
						<div class="col-xs-6 ">
							
									Stok :
									<input class="form-control" type="text">
								
									Harga :
									<input class="form-control" type="text">
								
									Diskon :
									<input class="form-control" type="text">
								
						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a>DIY Diamond Painting. Bunga Peony dan keluarga harmonis. (100x50 cm) D17</a>
				</div>

				<div class="panel-body">
					<div class="rows">
						<div class="col-xs-6 ">
							<img src="images/defaultreward.png" class="img-responsive img-thumbnail" >
						</div>
						<div class="col-xs-6 ">
							
									Stok :
									<input class="form-control" type="text">
								
									Harga :
									<input class="form-control" type="text">
								
									Diskon :
									<input class="form-control" type="text">
								
						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a>DIY Diamond Painting. Bunga Peony dan keluarga harmonis. (100x50 cm) D17</a>
				</div>

				<div class="panel-body">
					<div class="rows">
						<div class="col-xs-6 ">
							<img src="images/defaultreward.png" class="img-responsive img-thumbnail" >
						</div>
						<div class="col-xs-6 ">
							
									Stok :
									<input class="form-control" type="text">
								
									Harga :
									<input class="form-control" type="text">
								
									Diskon :
									<input class="form-control" type="text">
								
						</div>
					</div>
				</div>			
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a>DIY Diamond Painting. Bunga Peony dan keluarga harmonis. (100x50 cm) D17</a>
				</div>

				<div class="panel-body">
					<div class="rows">
						<div class="col-xs-6 ">
							<img src="images/defaultreward.png" class="img-responsive img-thumbnail" >
						</div>
						<div class="col-xs-6 ">
							
									Stok :
									<input class="form-control" type="text">
								
									Harga :
									<input class="form-control" type="text">
								
									Diskon :
									<input class="form-control" type="text">
								
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>